.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form{
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input{
  width: 240px;
  margin: 12px;
}

.form label{
  padding: 12px 12px 12px 0;

}

.button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  margin-top: 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.tituloRegisterUser{
  font-size: 34px;
  margin: 20px;
}

img{
  height: 600px;
}

.logout{
  margin-left: 900px;
}